[
  { "id": 1, "name": "1등 경품", "total": 2 },
  { "id": 2, "name": "2등 경품", "total": 5   },
  { "id": 3, "name": "3등 경품", "total": 10  },
  { "id": 4, "name": "참가상",   "total": 30  },
  { "id": 5, "name": "그냥줌",   "total": 50  }
]
